.add-change-button{
    position: fixed ;
}
.paper{
    padding: 100px 100px;
}

.backgru{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Images/pivo.jpg") ;
    background-size: 1000px;
    background-position: center center;
}
.paper{
    
    position: absolute;
    background-image: url(Images/papirus.jpg);
    background-size: 500px;
    background-position: center center;
    padding: 20px 100px;
    width: auto;
    box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);
}

.paper.heart{
    position: relative;
    width: 200px;
    height: 200px;
    padding: 0;
    border-radius: 50%;
}

.paper.image{
    padding: 10px;
}

.paper.image p{
    font-size: 30px;
}

img{
    max-height: 300px;
    width: 100%;
    user-select: none;
}

.paper.heart::after{
    content: "";
    background-image: url('Images/heart\ \(1\).webp');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

p{
    font-family:'Pacifico';
    font-size: 15px;
    color: rgb(0, 0, 100);
    opacity: 0.75;
    user-select: none;
body {
    font-size: 18px; /* Increase the base font size */
  }
  
  @media (max-width: 600px) {
    body {
      font-size: 16px; /* Further increase the font size for even smaller screens */
    }
  }
}
@media (max-width: 600px) {
  .navbar {
    position: relative;
  }

  .navbar a {
    display: block;
    width: 100%;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }
}
